.tweet {
  opacity: 0.6;
  overflow: hidden;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  margin: 2em;
}

.tweet header {
  height: 80px;
  padding: 5px;
  background-color: #e3e7ed;
}

#tweet-container .tweet {
  padding: 0px;
}

.tweet h1 {
  color: #244751;
  float: left;
  margin: 10px;
  margin-left: 0px;
}

.tweet-content {
  padding: 0%;
  height: 50px;
  padding-left: 5px;
}

.avatar {
  border-radius: 5px;
  float: left;
  margin: 5px;
  height: 60px;
}

.tweet-date {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  display: inline-block;
}

.tweet .icons {
  display: none;
  color:#3787ca;
  float: right;
  padding: 5px;
  margin-bottom: 5px;
}

.handle {
  float: right;
  margin-right: 5px;
}

/*.tweet:hover { // can use if js doesn't work
  border: 1px solid #cccccc;
 opacity: 1;
}
*/